# Ignore Gradle project-specific cache directory
.gradle

# Gradle
build/

# Compiled Java and Kotlin classes
out/
/bin/

# Eclipse project files
.classpath
.project
.settings/

# Logs
*.log

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
.idea_modules/

# User-specific files
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Directories for Apple's metadata
.DS_Store
.Spotlight-V100
.Trashes

# Windows Thumbs.db files
Thumbs.db
ehthumbs.db

# Windows image file caches
ehthumbs_vista.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
.kotlin

jdeploy-bundle
node_modules