# Lesson 4 - Input verification and validation

URL: https://learn.chromia.com

- [Home](/)
- [Module 1 - Create a Rell backend app with FT accounts](/courses/my-news-feed/module-one/)
- Lesson 4 - Input verification and validation
# Lesson 4 - Input verification and validation

In this lesson, security will be explored based on input verification in Chromia using the "require" function.
The focus will be on ensuring the user's validity when signing operations, verifying content length,
and confirming the existence of users.

By the end, tests will be added to prevent impersonation and to ensure that input validation functions correctly.

## Sections
[Verify inputs](/courses/my-news-feed/module-one/input-verification/input-verification)[Run unit tests](/courses/my-news-feed/module-one/input-verification/tests)[Start lesson »](/courses/my-news-feed/module-one/input-verification/input-verification)
