# Lesson 3 - Verify and validate inputs

URL: https://learn.chromia.com

- [Home](/)
- Lesson 3 - Verify and validate inputs
# Lesson 3 - Verify and validate inputs

In this lesson, you'll learn how to implement input validation in Rell to improve app security. We will use the require function within the create_book_review operation to ensure that users enter valid data. Additionally, you will write tests for both existing and non-existing books, which will provide robust input validation.

We will also explore how to structure query results using the book_review_dto struct. This struct combines both book and review data into a single, organized object.

## Sections
[Verify inputs](/courses/book-review/input-verification/input-verification)[Adding structured results from queries](/courses/book-review/input-verification/structure)[Start lesson »](/courses/book-review/input-verification/input-verification)
